.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(238, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 700px;
  max-width: 700px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.container h1{
  text-align: center;
  font-family: sans-serif;
  font-weight:800;
}
.text-area{
  width: 100%;
  height: 200px;
  position: relative;
}
textarea{
  width: 100%;
  max-width: 700px;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-top: 20px;
  margin: 20px 0;
  font-size: 17px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type="color"]{
  border: none;
  outline: none;
  background: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#add{
  margin-top: 20px;
  bottom: -66px;
  right: 0px;
  padding: 10px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
  color: white;
  
  font-weight: bold;
}
#color{
  position: absolute;
  bottom: -55px;
  left: 95px;
}
label{
  position: absolute;
  bottom: -50px;
  left: 7px;
}
#size{
  position: absolute;
  bottom: -50px;
  left: 180px;
  width: 50px;
}
#sizelabel{
  position: absolute;
  bottom: -50px;
  left: 140px;
}
.notes{
  width: 100%;
  height: 400px;
  margin-top: 100px;
}
.box,.box1{
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 10px;
  margin: 15px 0;
  position: relative;
  height: auto;
  animation: scale 0.4s;
}
.box1{
  width:280px ;
  background-color:white ;
  height: 170px;
}
.notes button.btn{
  background-color: blue;
  padding: 35px;
  color: white;
}
@keyframes scale{
  from{
      transform: scale(0);
  }
  to{
      transform: scale(1);
  }
}
.box p{
  font-size: 17px;
  font-family: sans-serif;
}
.notes button{
  color: white;
  padding: 10px;
  
  border: none;
  
  cursor: pointer;
  outline: none;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pixelify+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-color: #DFB7E3;
  background: linear-gradient(to right, white, #DFB7E3);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    min-height: 280px;
    min-width: 300px;
    background-color: white;
    overflow: hidden;
}

#container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    min-height: 280px;
    min-width: 300px;
    background-color: white;
    overflow: hidden;
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.input {
    background-color: #eee;
    border: none;
    border-left: #DFB7E3 solid 1px;
    padding: 10px;
    border-bottom: #DFB7E3 solid 1px;
}

.top {
    background-color: #c4d3ec;
    background: linear-gradient(to left, #DFB7E3, #B5C7E7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 0 0 75px 75px;
}

.top:hover {
    transition: .4s;
    border-radius: 0;
    width: 100%;
}

.top:not(:hover) {
    transition: .4s;
    border-radius: 0 0 75px 75px;
    width: 97%;
}

.top h1 {
    color: white;
    font-size: 30px;
}

.login_option {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.account {
    border: solid 1px #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.account:hover {
    border: solid 1px #DFB7E3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: .4s;
}

.account:not(:hover) {
    transition: .4s;
    border: solid 1px #ccc;
    box-shadow: none;
}

button {
    padding: 10px 30px 10px 30px; 
    background-color: #eee;
    border: solid 1px #ccc;
    border-radius: 5px;
}

button:hover {
    background-color: #ccc;
    transition: .4s;
    border: solid 1px #DFB7E3;
}

button:not(:hover) {
    transition: .4s;
    background-color: #eee;
}

.signup {
    color: black;
    text-decoration: none;
    font-size: 12px;
}

@media screen and (max-width: 338px) {
    #container {
        min-width: 250px;
    }
    .top:hover {
        border-radius: 0;
        border-radius: 0 0 75px 75px;
        width: 97%;
    }
    #container2 {
        min-width: 250px;
    }
    button:hover {
        background-color: #eee;
        transition: none;
    }
    .account:hover {
        box-shadow: none;
        transition: none;
        border: solid 1px #ccc;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}
a.btn2{
  color: white;
  padding: 15px;
  border: 0;
  background-color: rgb(52, 208, 229);
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  height: 100vh;
   background: url('https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
  transition: 0.4s linear;
}

.box {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .8);
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, .5);
  border-radius: 10px;
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box p {
  margin-bottom: 0;
}

.box p:nth-child(even) {
  margin-top: 0;
}

.box a {
  color: #9a9d9e;
  font-size: 14px;
  text-decoration: none;
}

.box .input-box {
  position: relative;
}

.box .input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  color: #fff;
  border: 1px solid #fff;
  border: none;
  border-bottom-style: solid;
  outline: none;
  letter-spacing: 1px;
  background: transparent;
}

.box .input-box label {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.box .input-box input:focus ~ label,
.box .input-box input:valid ~ label{
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}

.box input[type=submit] {
  background: transparent;
  border: none;
  outline: none;
  background: #03a9f4;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#logged-in {
  width: 100%;
  height: auto;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50px;
  display: none;
}

.login-true {
  opacity: 0;
}
